* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  cursor: none !important;
}

body {
  background-color: black;
  cursor: none;
}

#cursor-default {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0.1vw solid white;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%) scale(1);
  z-index: 9999;
}

#cursor-default.cursor-big {
  transform: translate(-50%, -50%) scale(1.5);
}

#frame {
  position: fixed;
  top: 5vh;
  left: 4vw;
  width: 92vw;
  height: 90vh;
}

.border {
  border: 0.1vw solid white;
}

.button {
  all: unset;
  filter: brightness(100%);
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(50%);
  }
}

#boy-in-the-bubble-video {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none; /* Optional, for no border */
  display: block; /* Removes iframe inline spacing */
  z-index: -1;
}

#content {
  z-index: 2;
  display: flex;
  align-items: flex-start;

  font-size: 1.5vw;
  font-family: "alight-slab", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

header,
main {
  display: flex;
}

header {
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;

  margin-left: 1.8vw;
}

h1 {
  font-family: "rosalind", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 7vw;
}

.header-text {
  font-family: "cy", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 3vw;
}

main {
  position: relative;
  flex: 4;
  justify-content: flex-end;
  flex-direction: column;

  text-align: right;

  margin-right: 1.8vw;
  margin-top: 1.8vh;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

nav {
  display: flex;
  flex-direction: column;

  text-align: left;
}

.main-content {
  opacity: 0;
  transform: translateY(-5vh);
  filter: blur(10px);
  transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;

  pointer-events: none;

  &:target {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
    pointer-events: auto;
  }
}

#particles-js {
  pointer-events: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
}
