* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
}

#frame {
  position: fixed;
  top: 5vh;
  left: 4vw;
  width: 92vw;
  height: 90vh;
  border: 0.1vw solid white;
}

#content {
  z-index: 2;
  display: flex;
  align-items: flex-start;

  font-size: 2vw;
  font-family: "alight-slab", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

header,
main {
  flex: 1;
  display: flex;
}

header {
  justify-content: flex-start;
  flex-direction: column;

  margin-left: 1.8vw;
}

main {
  justify-content: flex-end;
  flex-direction: column;

  margin-right: 1.8vw;
  margin-top: 1.8vh;
}

h1 {
  font-family: "rosalind", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 5vw;
}

nav {
  display: flex;
  flex-direction: column;

  text-align: left;
}

#about {
  opacity: 0;
  transform: translateY(-5vh);
  filter: blur(10px);
  transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
  pointer-events: none;
  text-align: right;
  font-style: thin;
}

#about:target {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  pointer-events: auto;
}

#particles-js {
  pointer-events: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 100%;
}
